<div class="modal is-active animate__animated" id="group-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">รายการกล่อง</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="spec_id" id="specification"
                                hx-target="#groups"
                                hx-indicator="#save-btn"
                                hx-swap="innerHTML"
                                hx-get="{{ url_for('webadmin.get_groups_from_spec', subject_id=item.bank.subject_id, item_id=item.id) }}">
                            <option value="">กรุณาเลือก specification</option>
                            {% for s in specs %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <form hx-patch="{{ url_for('webadmin.assign_group_no_spec', item_id=item.id, next=next) }}"
                  hx-headers='{"X-CSRF-Token": {{ csrf_token()|tojson|safe }} }'
                  hx-indicator="#save-btn"
            >
            <div id="groups" class="field"></div>
            <button class="button is-outlined" id="cancel-btn">Cancel</button>
            <button type="submit" class="button is-success" id="save-btn">
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
                <span>Save</span>
            </button>
            </form>
        </section>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#group-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#group-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#group-modal'), 'is-active')
    })
</script>