<div class="modal is-active animate__animated" id="group-note-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">บันทึกสำหรับกล่อง</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form hx-post="{{ url_for('webadmin.edit_group_note', group_id=group_id, next=next) }}"
                  hx-headers='{"X-CSRF-Token": {{ csrf_token()|tojson|safe }} }'
                  hx-indicator="#save-btn"
            >
                <div class="field">
                    <label class="label">{{ form.note.label }}</label>
                    <div class="control">
                        {{ form.note(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.status.label }}</label>
                    <div class="control">
                        {{ form.status() }}
                    </div>
                </div>
                <button class="button is-outlined" id="cancel-btn">Cancel</button>
                <button type="submit" class="button is-success" id="save-btn">
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
                    <span>Save</span>
                </button>
            </form>
        </section>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#group-note-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#group-note-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#group-note-modal'), 'is-active')
    })
</script>