{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <img src="{{ url_for('static', filename='logo.png') }}">
                <h1 class="title">ระบบสารสนเทศข้อสอบสภาเทคนิคการแพทย์</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
            <div class="">
                <nav class="panel">
                    <p class="panel-heading">
                        Menu
                    </p>
                    <a class="panel-block" href="{{ url_for('exambank.index') }}">
                        คลังข้อสอบ
                    </a>
                </nav>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}