{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-4 has-text-centered">
                {% include "messages.html" %}
                <img src="{{ url_for('static', filename='logo.png') }}">
                <h1 class="title">ระบบสารสนเทศข้อสอบ<br>สภาเทคนิคการแพทย์</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
            <div class="">
                <nav class="panel">
                    <p class="panel-heading">
                        Menu
                    </p>
                    <a class="panel-block" href="{{ url_for('exambank.index') }}">
                        <span class="panel-icon">
                            <i class="fas fa-boxes"></i>
                        </span>
                        คลังข้อสอบ
                    </a>
                    <a class="panel-block" href="{{ url_for('main.user') }}">
                        <span class="panel-icon">
                            <i class="fas fa-user"></i>
                        </span>
                        บัญชีผู้ใช้
                    </a>
                </nav>
            </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-2">
                <div id="statuschart" style="width: 600px; height: 500px;"></div>
            </div>
            <div class="column is-one-third">
                <div id="submitchart" style="width: 600px; height: 500px;"></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <p class="has-text-centered">
            ระบบสารสนเทศคลังข้อสอบวิชาชีพ
            พัฒนาโดยคณะอนุกรรมการจัดสอบวัดความรู้ สภาเทคนิคการแพทย์วาระ 2563-2566
        </p>
        <p class="has-text-centered">
            ติดต่อลิขิต ปรียานนนท์ที่ likit.pre@mahidol.edu หรือ 092-279-9327 หากเกิดปัญหาการใช้งาน
        </p>
    </div>
</footer>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var submitted_items = google.visualization.arrayToDataTable({{ submitted_items|tojson|safe }});
        var status_items = google.visualization.arrayToDataTable({{ items|tojson|safe }});

        var submitted_items_chart = new google.visualization.PieChart(document.getElementById('submitchart'));
        var status_items_chart = new google.visualization.PieChart(document.getElementById('statuschart'));

        submitted_items_chart.draw(submitted_items, {title: 'Submitted Questions'});
        status_items_chart.draw(status_items, {title: 'All Questions'});
      }
</script>
{% endblock %}