{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-4">
                    {% include "messages.html" %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third is-offset-4 box">
                    <h1 class="title has-text-centered">
                        Set New Password
                    </h1>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <div class="control">
                                {{ form.password(class='input', placeholder='New password') }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form.confirm(class='input', placeholder='Confirm password') }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <a href="{{ url_for('main.index') }}" class="button is-light">Back</a>
                                {{ form.submit(class="button is-success") }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
