{% extends "base.html" %}
{% block title %}Admin: Accepted Questions{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bulma.min.css" rel="stylesheet"/>
{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container" id="app">
            {% include "messages.html" %}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('webadmin.list_banks') }}">คลังข้อสอบ</a></li>
                    <li class="is-active"><a href="#">วิชา{{ bank.subject }}</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column">
                    {% include "messages.html" %}
                    <h1 class="title has-text-centered is-size-4">{{ bank.subject }}</h1>
                    <table id="myTable" class="table is-striped is-fullwidth">
                        <colgroup>
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                        </colgroup>
                        <thead>
                        <th>หมวดสมรรถนะ</th>
                        <th>สมรรถนะ</th>
                        <th>สมรรถนะย่อย</th>
                        <th>โจทย์</th>
                        <th>Evaluated At</th>
                        <th>Peer Summary</th>
                        </thead>
                        <tbody>
                        {% for q in bank.accepted_items %}
                            {% if q.status == 'submit' or q.status == 'draft' %}
                                <tr>
                                    <td><small>{{ q.category }}</small></td>
                                    <td>
                                        <small>
                                            {{ q.subcategory }}
                                        </small>
                                    </td>
                                    <td>
                                        {% if q.subsubcategory %}
                                            <small>
                                                {{ q.subsubcategory }}
                                            </small>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('webadmin.preview', item_id=q.id) }}">
                                            {{ q.question|safe }}
                                        </a>
                                        {% if q.parent_id %}
                                            <span class="icon">
                                                <i class="fas fa-code-branch"></i>
                                            </span>
                                        {% endif %}
                                        {% if q.peer_evaluated_at %}
                                            <div class="tags has-addons">
                                                <span class="tag is-dark">decision</span>
                                                {% if q.peer_decision == 'Accepted' %}
                                                    <span class="tag is-success">accepted</span>
                                                {% elif q.peer_decision == 'Rejected' %}
                                                    <span class="tag is-danger">rejected</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ q.peer_evaluated_at|localdatetime }}
                                    </td>
                                    <td>
                                        {{ q.peer_summary or '' }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bulma.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}
