{% extends "base.html" %}
{% block title %}Admin: Questions{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container" id="app">
            {% include "messages.html" %}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('webadmin.list_groups', spec_id=group.spec_id) }}">กล่องทั้งหมด</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-4 has-text-centered">
                        <span class="icon">
                            <i class="fas fa-box-open"></i>
                        </span>
                        <span>
                            {{ group.name }}
                        </span>
                    </h1>
                    <h1 class="subtitle has-text-centered">
                        จำนวน {{ group.items.count() }} รายการ
                    </h1>
                    <div id="note-form-modal"></div>
                    <div class="buttons is-centered">
                        <button class="button is-primary"
                                hx-get="{{ url_for('webadmin.edit_group_note', group_id=group.id, next=request.url) }}"
                                hx-swap="innerHTML"
                                hx-target="#note-form-modal"
                        >
                            <span class="icon">
                                <i class="far fa-sticky-note"></i>
                            </span>
                            <span>เพิ่มบันทึก (note)</span>
                        </button>
                    </div>
                    <h1 class="title is-size-5">ประวัติการตรวจสอบ</h1>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <th>Datetime</th>
                            <th>Note</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                        {% for note in group.notes %}
                            <tr>
                            <td>{{ note.created_at|localdatetime }}</td>
                            <td>{{ note.note }}</td>
                            <td>
                                {% if note.status == 'ready' %}
                                <span class="tag is-success">{{ note.status }}</span>
                                {% elif note.status == 'working' %}
                                <span class="tag is-warning">{{ note.status }}</span>
                                {% else %}
                                <span class="tag">{{ note.status }}</span>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table id="myTable" class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>โจทย์</th>
                            <th>Bank</th>
                            <th>รายวิชา</th>
                            <th>decision</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="buttons is-centered">
                        <a href="{{ next or url_for('webadmin.list_groups', spec_id=group.spec_id) }}" class="button is-light">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>กลับ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready( function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': {{ csrf_token()|tojson|safe }}
                }
            })
            $('#myTable').DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "{{ url_for('webadmin.get_items_in_group', group_id=group.id, next=request.url) }}",
                    },
                    columns: [
                        {"data": "id"},
                        {"data": "question", "searchable": true},
                        {"data": "bank"},
                        {"data": "subject"},
                        {"data": "decision"}
                    ]
                }
            );
        } );
    </script>
{% endblock %}
