{% extends "base.html" %}
{% block title %}Question Preview{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        <h1 class="title has-text-centered">Preview</h1>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% include "messages.html" %}
                <div class="box">
                    <div class="notification is-warning has-text-centered">
                        <strong>{{ item.status|upper }}</strong>
                    </div>
                    <p class="label">วิชา</p>
                    <div class="notification">{{ item.bank.subject }}</div>
                    <p class="label">หมวดสมรรถนะ</p>
                    <div class="notification">{{ item.category.name }}</div>
                    <p class="label">สมรรถนะ</p>
                    <div class="notification">{{ item.subcategory.name }}</div>
                    <p class="label">สมรรถนะย่อย</p>
                    <div class="notification">{{ item.subsubcategory.name }}</div>
                    <p class="label">โจทย์คำถาม</p>
                    <div class="notification">
                        {{ item.question|safe }}
                    </div>
                    <p class="label">ภาพประกอบ</p>
                    {% if item.figure %}
                        <div class="notification is-white">
                            <img src="https://drive.google.com/uc?id={{ item.figure.url }}" width="700">
                            <p class="label">คำอธิบายภาพ</p>
                            <p>{{ item.figure.desc }}</p>
                            <p class="label">ที่มาของภาพ</p>
                            <p>{{ item.figure.ref }}</p>
                        </div>
                    {% else %}
                        N/A
                    {% endif %}
                    <table class="table is-fullwidth">
                        <thead>
                        <th>ข้อที่</th>
                        <th>คำตอบ</th>
                        </thead>
                        <tbody>
                        <p class="label">คำตอบ</p>
                        <div class="notification is-light is-success">
                            {{ item.answer.desc|safe }}
                        </div>
                        <p class="label">ตัวเลือกลวง</p>
                        {% for choice in item.choices if not choice.answer %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ choice.desc|safe }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="buttons is-centered">
                    {% if not item.peer_evaluated_at %}
                    <a class="button is-primary" href="{{ url_for('webadmin.edit_question', bank_id=item.bank_id, item_id=item.id) }}">
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>แก้ไขข้อสอบ</span>
                    </a>
                    <a class="button is-warning" href="{{ url_for('webadmin.peer_evaluate', item_id=item.id) }}">
                        <span class="icon">
                            <i class="fas fa-gavel"></i>
                        </span>
                        <span>บันทึกผลการตัดสิน</span>
                    </a>
                    {% else %}
                        {% if item.peer_decision == 'Accepted' %}
                        <span class="notification is-light is-success">
                            <span class="icon">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <span>
                                Accepted at {{ item.peer_evaluated_at|localdatetime }}.
                            </span>
                        </span>
                        {% else %}
                        <span class="notification is-danger">
                            <span class="icon">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span>
                                Rejected at {{ item.peer_evaluated_at|localdatetime }}.
                            </span>
                        </span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="buttons is-centered">
                    <a href="{{ url_for('webadmin.list_questions', bank_id=item.bank.id) }}"
                       class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>คลังข้อสอบ</span>
                    </a>
                    <a href="{{ url_for('webadmin.show_subcategory', subcategory_id=item.subcategory_id, bank_id=item.bank.id) }}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>สมรรถนะ</span>
                    </a>
                    {% if item.subsubcategory %}
                    <a href="{{ url_for('webadmin.show_subsubcategory', subsubcategory_id=item.subsubcategory_id, bank_id=item.bank.id) }}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>สมรรถนะย่อย</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for child in item.children %}
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="box">
                    <div class="notification is-light is-warning has-text-centered">
                        <strong>{{ child.status|upper }}</strong>
                    </div>
                    <p class="label">เพิ่มโดย</p>
                    <div class="notification">{{ child.user.name }}</div>
                    <p class="label">Derived from</p>
                    <div class="notification">{{ child.parent_id }}</div>
                    <p class="label">เพิ่มเมื่อ</p>
                    <div class="notification">{{ child.created_at|localdatetime }}</div>
                    <p class="label">โจทย์คำถาม</p>
                    <div class="notification">
                        {{ child.question|safe }}
                    </div>
                    <p class="label">ภาพประกอบ</p>
                    {% if child.figure %}
                        <div class="notification is-white">
                            <img src="https://drive.google.com/uc?id={{ child.figure.url }}" width="700">
                            <p class="label">คำอธิบายภาพ</p>
                            <p>{{ child.figure.desc }}</p>
                            <p class="label">ที่มาของภาพ</p>
                            <p>{{ child.figure.ref }}</p>
                        </div>
                    {% else %}
                        N/A
                    {% endif %}
                    <table class="table is-fullwidth">
                        <thead>
                        <th>ข้อที่</th>
                        <th>คำตอบ</th>
                        </thead>
                        <tbody>
                        <p class="label">คำตอบ</p>
                        <div class="notification is-light is-success">
                            {{ child.answer.desc|safe }}
                        </div>
                        <p class="label">ตัวเลือกลวง</p>
                        {% for choice in child.choices if not choice.answer %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ choice.desc|safe }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="buttons is-centered">
                    {% if child.user == current_user and not child.peer_evaluated_at %}
                        <a href="{{ url_for('webadmin.delete_question', item_id=child.id) }}" class="button is-light is-danger">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span>ลบ</span>
                        </a>
                    {% endif %}
                    {% if not child.peer_evaluated_at %}
                        <a class="button is-warning" href="{{ url_for('webadmin.peer_evaluate', item_id=child.id, parent_id=item.id) }}">
                            <span class="icon">
                                <i class="fas fa-gavel"></i>
                            </span>
                            <span>บันทึกผลการตัดสิน</span>
                        </a>
                    {% else %}
                        {% if child.peer_decision == 'Accepted' %}
                        <span class="notification is-light is-success">
                            <span class="icon">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <span>
                                Accepted at {{ child.peer_evaluated_at|localdatetime }}.
                            </span>
                        </span>
                        {% else %}
                        <span class="notification is-danger">
                            <span class="icon">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span>
                                Rejected at {{ child.peer_evaluated_at|localdatetime }}.
                            </span>
                        </span>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <form method="post" action="{{ url_for('webadmin.preview', item_id=item.id, next=url_for('webadmin.preview', item_id=item.id)) }}">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">{{ form.status.label }}</label>
                        <div class="select">
                            {{ form.status(class="select") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.comment.label }}</label>
                        <div class="control">
                            {{ form.comment(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Submit" class="button is-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
            <h1 class="title is-size-3">Comments</h1>
                {% for approval in item.approvals %}
                    <article class="media">
                        <div class="media-left">
                            <p>
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="title is-size-6">
                                    {{ approval.user.name }}
                                </span>
                            </p>
                            <p>
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                <span class="subtitle is-size-7">
                                    {{ approval.approved_at | localdatetime }}
                                </span>
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p class="message is-link">
                                    <div class="message-body">
                                        <p>
                                            <span class="title is-size-6">
                                                ความเห็นเบื้องต้น
                                            </span>
                                            {{ approval.status }}
                                        </p>
                                        <p>
                                            {% if approval.comment %}
                                            <span class="icon">
                                                <i class="fas fa-quote-left"></i>
                                            </span>
                                            <span>{{ approval.comment }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </p>
                                {% if approval.user == current_user %}
                                <p class="level">
                                    <div class="level-right">
                                        <a href="{{ url_for('webadmin.delete_comment', approval_id=approval.id) }}">
                                                <span class="icon">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                            <span>ลบ</span>
                                        </a>
                                    </div>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}