{% extends "base.html" %}
{% block title %}Question Preview{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        <h1 class="title has-text-centered">Preview</h1>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="box">
                    <div class="notification is-warning has-text-centered">
                        <strong>{{ item.status|upper }}</strong>
                    </div>
                    <p class="label">หมวดสมรรถนะ</p>
                    <div class="notification">{{ item.category.name }}</div>
                    <p class="label">สมรรถนะ</p>
                    <div class="notification">{{ item.subcategory.name }}</div>
                    <p class="label">สมรรถนะย่อย</p>
                    <div class="notification">{{ item.subsubcategory.name }}</div>
                    <p class="label">โจทย์คำถาม</p>
                    <div class="notification">
                        {{ item.question|safe }}
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                        <th>ข้อที่</th>
                        <th>คำตอบ</th>
                        </thead>
                        <tbody>
                        <p class="label">คำตอบ</p>
                        <div class="notification is-light is-success">
                            {{ item.answer.desc|safe }}
                        </div>
                        <p class="label">ตัวเลือกลวง</p>
                        {% for choice in item.choices if not choice.answer %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ choice.desc|safe }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="buttons is-centered">
                    <a href="{{ url_for('webadmin.list_questions', bank_id=item.bank.id) }}" class="button is-light">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}