{% extends "base.html" %}
{% block title %}Admin: Questions{% endblock %}
{% block head %}
    {{ super() }}
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        {% include "messages.html" %}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('webadmin.list_banks') }}">คลังข้อสอบ</a></li>
                <li><a href="{{ url_for('webadmin.list_questions', bank_id=bank.id) }}">คลังข้อสอบชุด{{ bank.name }}</a></li>
                <li class="is-active"><a href="#">วิชา{{ bank.subject }}</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column">
            <h1 class="title is-size-5">สมรรถนะ</h1>
                <div class="select">
                    <select class="subcategory">
                        <option value="-1">ทั้งหมด</option>
                        {% for subcate in subcategories %}
                            <option value="{{ subcate.id }}">{{  subcate.name|truncate(150, end='...') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
                <h1 class="title has-text-centered is-size-4">{{ bank.subject }}</h1>
                <table id="myTable" class="table is-striped is-fullwidth">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="30%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <thead>
                    <th>หมวดสมรรถนะ</th>
                    <th>สมรรถนะ</th>
                    <th>สมรรถนะย่อย</th>
                    <th>โจทย์</th>
                    <th>โดย</th>
                    <th>เพิ่มเมื่อ</th>
                    <th>แก้ไขล่าสุด</th>
                    <th>ส่งเมื่อ</th>
                    </thead>
                    <tbody>
                    {% for q in bank.items %}
                        {% if q.status == 'submit' or q.status == 'draft' %}
                        <tr>
                            <td><small>{{ q.category }}</small></td>
                            <td>
                                <a href="{{ url_for('webadmin.show_subcategory', subcategory_id=q.subcategory.id, bank_id=bank.id) }}">
                                    <small>
                                        {{ q.subcategory }}
                                    </small>
                                </a>
                            </td>
                            <td>
                                {% if q.subsubcategory %}
                                    <a href="{{ url_for('webadmin.show_subsubcategory', subsubcategory_id=q.subsubcategory.id, bank_id=bank.id) }}">
                                    <small>
                                        {{ q.subsubcategory }}
                                    </small>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('webadmin.preview', item_id=q.id) }}">
                                    {{ q.question|safe }}
                                </a>
                                <span class="tag">
                                    comments: {{ q.approvals|length }}
                                </span>
                                {% for approval in q.approvals %}
                                    {% if approval.user == current_user %}
                                        {% if approval.status == 'เหมาะสม' %}
                                        <span class="tag is-success">
                                            your thought: {{ approval.status }}
                                        </span>
                                        {% elif approval.status == 'ไม่เหมาะสม' %}
                                        <span class="tag is-danger">
                                            your thought: {{ approval.status }}
                                        </span>
                                        {% else %}
                                        <span class="tag is-warning">
                                            your thought: {{ approval.status }}
                                        </span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ q.user.username + ": " + q.user.name }}
                            </td>
                            <td>
                                {{ q.created_at|localdatetime }}
                            </td>
                            <td>
                                {{ q.updated_at|localdatetime }}
                            </td>
                            <td>
                                {{ q.submitted_at|localdatetime or 'draft' }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
            $('select.subcategory').change(()=>{
                let selectedCategory = $('.subcategory').find(":selected").val();
                window.location.href = '/webadmin/banks/{{ bank.id }}/subcategories/' + selectedCategory + '/questions'
            })
        } );
    </script>
{% endblock %}
