{% extends "base.html" %}
{% block title %}Admin: Questions{% endblock %}
{% block head %}
    {{ super() }}
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        {% include "messages.html" %}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('webadmin.list_banks') }}">คลังข้อสอบ</a></li>
                <li><a href="{{ url_for('webadmin.list_questions', bank_id=bank.id, status=status) }}">คลังข้อสอบชุด{{ bank.name }}</a></li>
                <li class="is-active"><a href="#">วิชา{{ bank.subject }}</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column">
            <h1 class="title is-size-5">สมรรถนะ</h1>
                <div class="select">
                    <select class="subcategory">
                        <option value="-1">ทั้งหมด</option>
                        {% for subcate in subcategories %}
                            <option value="{{ subcate.id }}">{{  subcate.name|truncate(150, end='...') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
                <h1 class="title has-text-centered is-size-4">{{ bank.subject }}</h1>
                <table id="myTable" class="table is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th>หมวดสมรรถนะ</th>
                        <th>สมรรถนะ</th>
                        <th>สมรรถนะย่อย</th>
                        <th>โจทย์</th>
                        <th>โดย</th>
                        <th>decision</th>
                        <th>กล่อง</th>
                        <th>Subject</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        let selectedCategory = null
        $(document).ready( function () {
            var table = $('#myTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: {{ url_for('webadmin.get_questions', bank_id=bank.id, status=status)|tojson|safe }},
                    data: function(d) {
                        d.subcategory = selectedCategory
                    }
                },
                columns: [
                    {"data": "category", "width": "10%"},
                    {"data": "subcategory", "width": "10%"},
                    {"data": "subsubcategory", "width": "10%"},
                    {"data": "question", "searchable": true},
                    {"data": "user", "width": "10%"},
                    {"data": "decision", "width": "10%"},
                    {"data": "groups"},
                    {"data": "subject"}
                ]
            });
            $('select.subcategory').change(()=>{
                selectedCategory = $('.subcategory').find(":selected").val();
                table.ajax.reload()
            })
        } );
    </script>
{% endblock %}
