<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<a href="{{ url_for('webadmin.preview_random_item_set', spec_id=spec_id, random_set_id=random_set.id) }}">Back</a>
<a href="{{ url_for('webadmin.randomize_choices', spec_id=spec_id, set_id=random_set.id) }}">Rearrange choices</a>
<a href="{{ url_for('webadmin.export_choices_csv', spec_id=spec_id, random_set_id=random_set.id) }}">Export Data</a>
<ol>
    {% for item_set in random_set.item_sets %}
        <li>{{ item_set.correct_answer_pattern }}</li>
    {% endfor %}
</ol>
{% set count = [] %}
{% for item_set in random_set.item_sets %}
    {% if subject_id == -1 or item_set.subject_id == subject_id %}
    {% set _ = count.append(1) %}
        <h1>{{ count|length }}) {{ item_set.item.question|safe }}</h1>
        {% if item_set.item.figure %}
            <p class="label">ภาพประกอบ</p>
            <div>
                <img src="https://drive.google.com/uc?id={{ item_set.item.figure.url }}" width="700">
            </div>
        {% endif %}
        <ol>
            {% for choice in item_set.ordered_choices %}
                {% if choice.answer %}
                    <li>******ข้อถูกคือ{{ choice.desc|safe }}******</li>
                {% else %}
                    <li>{{ choice.desc|safe }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
{% endfor %}
</body>
</html>