{% extends "base.html" %}
{% block title %}Random Items Preview{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container" id="app">
            <h1 class="title has-text-centered">Preview</h1>
            <h1 class="subtitle has-text-centered">วิชา{{ subject.name }}</h1>
            <div class="columns">
                <div class="column is-two-thirds is-offset-2">
                    {% include "messages.html" %}
                    {% set count = [] %}
                    {% for item_set in random_set.item_sets %}
                        {% if subject_id == -1 or item_set.subject_id == subject_id %}
                        {% set _ = count.append(1) %}
                        <div class="box">
                            <h1 class="title is-size-5 has-text-centered">ข้อ {{ count|length }}</h1>
                            <div class="notification">{{ item_set.item.question|safe }}</div>
                            <label class="label">กล่อง</label>
                                {% for group in item_set.item.groups %}
                                    <a href="{{ url_for('webadmin.preview_random_items', spec_id=spec_id, random_set_id=random_set.id, group_id=group.id) }}">
                                        <span class="icon">
                                            <i class="fa-solid fa-box-open"></i>
                                        </span>
                                        <span>{{ group.name }}</span>
                                    </a>
                                {% endfor %}
                            {% if item_set.item.figure %}
                                <p class="label">ภาพประกอบ</p>
                                <div class="notification is-white">
                                    <img src="https://drive.google.com/uc?id={{ item_set.item.figure.url }}" width="700">
                                    <p class="label">คำอธิบายภาพ</p>
                                    <p>{{ item_set.item.figure.desc }}</p>
                                    <p class="label">ที่มาของภาพ</p>
                                    <p>{{ item_set.item.figure.ref }}</p>
                                </div>
                            {% endif %}
                            <table class="table is-fullwidth">
                                <thead>
                                <th>ข้อที่</th>
                                <th>ตัวเลือก</th>
                                <th>เฉลย</th>
                                </thead>
                                <tbody>
                                {% for choice in item_set.item.choices %}
                                    {% if choice.answer %}
                                    <tr class="is-selected">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ choice.desc|safe }}</td>
                                        <td>
                                            <span class="icon is-large">
                                                <i class="fas fa-2x fa-check-circle"></i>
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ choice.desc|safe }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="buttons is-centered">
                                <a href="{{ url_for('webadmin.edit_random_question', item_id=item_set.item_id, group_id=item_set.group_id, set_id=item_set.set_id, next=request.url) }}"
                                        class="button is-info">
                                    <span class="icon">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                    <span>แก้ไข</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                <div class="buttons is-centered">
                    <a class="button is-light"
                       href="{{ url_for('webadmin.list_group_random_items', subject_id=subject_id, spec_id=spec_id, set_id=random_set.id) }}">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
