{% extends "base.html" %}
{% block title %}Admin: Questions{% endblock %}
{% block head %}
    {{ super() }}
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container" id="app">
            {% include "messages.html" %}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('webadmin.list_banks') }}">คลังข้อสอบ</a></li>
                    <li><a href="{{ url_for('webadmin.list_questions', bank_id=bank.id, status=status) }}">คลังข้อสอบชุด{{ bank.name }}</a></li>
                    <li class="is-active"><a href="#">วิชา{{ bank.subject }}</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column">
                    {% include "messages.html" %}
                    <h1 class="title has-text-centered is-size-6">สมรรถนะหลัก: {{ subsubcategory.subcategory.name }}</h1>
                    <h1 class="subtitle has-text-centered is-size-6">สมรรถนะย่อย: {{ subsubcategory.name }}</h1>
                    <table id="myTable" class="table is-striped is-fullwidth">
                        <thead>
                        <th>โจทย์</th>
                        <th>โดย</th>
                        <th>ส่งเมื่อ</th>
                        <th>decision</th>
                        <th>กล่อง</th>
                        </thead>
                        <tbody>
                        {% for q in subsubcategory.items.filter_by(status=status, bank_id=bank.id)|sort(attribute='id') %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('webadmin.preview', item_id=q.id, subsubcategory_id=subsubcategory.id, category_id=q.category_id) }}">
                                        {{ q.question|safe }}
                                    </a>
                                    <span class="tag is-info is-light">
                                        ID: {{ q.id }}
                                    </span>
                                    <span class="tag">
                                        comments: {{ q.approvals|length }}
                                    </span>
                                    {% for approval in q.approvals %}
                                        {% if approval.user == current_user %}
                                            <span class="tag is-warning">
                                                your thought: {{ approval.status }}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                    {% if q.parent_id %}
                                        <span class="icon">
                                            <i class="fas fa-code-branch"></i>
                                        </span>
                                    {% endif %}
                                    {% if q.peer_evaluated_at %}
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">decision</span>
                                            {% if q.peer_decision == 'Accepted' %}
                                                <span class="tag is-success">accepted</span>
                                            {% elif q.peer_decision == 'Rejected' %}
                                                <span class="tag is-danger">rejected</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ q.user.username + ": " + q.user.name }}
                                </td>
                                <td>
                                    {{ q.submitted_at|localdatetime or 'draft' }}
                                </td>
                                <td>
                                    {{ q.user.username + ": " + q.user.name }}
                                </td>
                                <td>
                                    {% for gr in q.groups %}
                                        <span class="icon">
                                    <i class="fas fa-box-open has-text-info"></i>
                                </span>
                                        <span>
                                    <small>{{ gr.name|truncate(10) }}</small>
                                </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
{% endblock %}
