{% extends "base.html" %}
{% block title %}Admin: Test Drive{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bulma.min.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container" id="app">
            <div class="columns">
                <div class="column has-text-centered">
                    <span id="indicator" class="htmx-indicator icon is-large has-text-light has-text-success">
                        <i class="fas fa-spinner fa-pulse fa-3x"></i>
                    </span>
                    <h1 class="title">Test Drive</h1>
                    <div id="item">
                        <p class="notification">
                            <strong>คำแนะนำ</strong> เลือกคำตอบที่ต้องการ รอจนแถบสีเขียวแสดงในตัวเลือกที่ต้องการก่อนเลื่อนไปข้อถัดไป ระบบจะบันทึกทุกครั้งที่มีการแก้ไข เมื่อเสร็จสิ้นแล้วให้กดปุ่ม Submit เพื่อส่งข้อสอบ
                        </p>
                        <div class="buttons is-centered">
                            <button class="button is-success"
                                    hx-indicator="#indicator"
                                    hx-swap="outerHTML"
                                    hx-get="{{ url_for('webadmin.new_testdrive_item', random_set_id=random_set.id, item_set_id=item_set.id) }}">
                                Start
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bulma.min.js"></script>
    <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRF-Token'] = {{ csrf_token()|tojson|safe }}; // add a new parameter into the mix
    });
    </script>
{% endblock %}
