{% extends "base.html" %}
{% block title %}Exam Bank Page{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <div class="">
                    <nav class="panel">
                        <p class="panel-heading">
                            คลังข้อสอบ
                        </p>
                        {% for bank in banks %}
                        <a class="panel-block" href="{{ url_for('exambank.list_questions', bank_id=bank.id) }}">
                            <span class="icon">
                                <i class="fas fa-folder"></i>
                            </span>
                            {{ bank.subject.name }} ชุด{{ bank.name }}
                        </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
