{% extends "base.html" %}
{% block title %}Exam Bank: Category{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        <h1 class="title has-text-centered">Preview</h1>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="box">
                    <div class="notification is-light is-warning">
                        <strong>Status:</strong> {{ item.status }}
                    </div>
                    <p class="label">หมวดสมรรถนะ</p>
                    <p>{{ item.category.name }}</p>
                    <p class="label">สมรรถนะ</p>
                    <p>{{ item.subcategory.name }}</p>
                    <p class="label">สมรรถนะย่อย</p>
                    <p>{{ item.subsubcategory.name }}</p>
                    <p class="label">โจทย์คำถาม</p>
                    <p>
                        {{ item.question }}
                    </p>
                    <p class="label">ตัวเลือกคำตอบ</p>
                    <table class="table is-fullwidth">
                        <thead>
                        <th>ข้อที่</th>
                        <th>คำตอบ</th>
                        </thead>
                        <tbody>
                        {% for choice in item.choices %}
                        <tr
                            {% if choice.answer %}
                            bgcolor="#7fff00"
                            {% endif %}
                        >
                            <td>{{ loop.index }}</td>
                            <td>{{ choice.desc }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="label">คำตอบ</p>
                    <p>{{ item.answer.desc }}</p>
                </div>
                <div class="buttons is-centered">
                    <a href=""
                       class="button is-light"
                    >
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>
                            Edit
                        </span>
                    </a>
                    <a href="{{ url_for('exambank.submit', item_id=item.id) }}"
                       class="button is-success"
                    >
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>Submit</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}