{% extends "base.html" %}
{% block title %}Admin: Questions{% endblock %}
{% block head %}
{{ super() }}
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container" id="app">
        {% include "messages.html" %}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('exambank.index') }}">คลังข้อสอบชุด{{ bank.name }}</a></li>
                <li class="is-active"><a href="#">วิชา{{ bank.subject }}</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-centered">
                <span class="notification is-light is-warning">
                    ท่านสามารถแก้ไขข้อสอบได้ตลอดเวลาจนกว่าจะคลิก submit
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered is-size-4">{{ bank.subject }}</h1>
                <div class="has-text-centered">
                    <a href="{{ url_for('exambank.list_categories', bank_id=bank.id) }}" class="button is-success">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>เพิ่มข้อสอบ</span></a>
                </div>
                <table id="qTable">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="30%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <thead>
                    <th>หมวดสมรรถนะ</th>
                    <th>สมรรถนะ</th>
                    <th>สมรรถนะย่อย</th>
                    <th>โจทย์</th>
                    <th>เพิ่มเมื่อ</th>
                    <th>แก้ไขล่าสุด</th>
                    <th>สถานะ</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for q in bank.items %}
                        {% if q.user == current_user %}
                        <tr>
                            <td>{{ q.category }}</td>
                            <td>{{ q.subcategory }}</td>
                            <td>{{ q.subsubcategory or '-' }}</td>
                            <td>
                                <a href="{{ url_for('exambank.preview', item_id=q.id) }}">
                                    {{ q.question|safe }}
                                </a>
                            </td>
                            <td>
                                {{ q.created_at|localdatetime }}
                            </td>
                            <td>
                                {{ q.updated_at|localdatetime or q.created_at|localdatetime }}
                            </td>
                            <td>
                                {% if q.status == 'submit' %}
                                <span class="tag is-success">
                                    {{ q.status }}
                                </span>
                                {% else %}
                                    <span class="tag is-warning">
                                    {{ q.status }}
                                </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if not q.submitted_at %}
                                <div class="buttons">
                                    <a href="{{ url_for('exambank.edit', item_id=q.id) }}" class="button is-light">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </a>
                                    <a href="{{ url_for('exambank.discard', item_id=q.id) }}" class="button is-danger">
                                        <span class="icon">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#qTable').DataTable();
        } );
    </script>
{% endblock %}
